{% extends "base.html" %}

{% block title %}MVPTEST{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>
      {% autoescape false %}
        Hello, {{ name }}
      {% endautoescape %}
  </h1>

  <div class="name_form">
      <form method="post" class="form">
          <input type="text" name="name" value="" placeholder="Enter name">
      </form>
</div>
{% endblock %}
